.kyc__sidebar {
    grid-area: kyc__sidebar;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: var(--border-color);
    height: 100vh;
    background-color: var(--theme-blue);
    font-weight: 400;
    width: 240px;
    border-right: 1px solid var(--border-color);
    -webkit-box-shadow: 0px 0px 7px -5px rgba(0, 0, 0, 0.47);
    box-shadow: 0px 0px 7px -5px rgba(0, 0, 0, 0.47);
}

.kyc__sidebar ul { 
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }

 .kyc__sidebar ul li {
    line-height: 1px !important;
 }

.kyc__sidebar ul .active {
    color: var(--main-white);
    font-weight: bold;
    font-size: 1.2rem;
}

.kyc__sidebar ul .inactive {
    color: var(--border-color);
    font-weight: 300;
    font-size: 1rem;
}

.kyc__sidebar .logo {
    height: 50px;
    img {
        height: 80px;
    }
}

.kyc__header {
    grid-area: kyc__header;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
    -webkit-box-shadow: 0px 0px 7px -5px rgba(0, 0, 0, 0.47);
    box-shadow: 0px 0px 7px -5px rgba(0, 0, 0, 0.47);
}

.kyc__nav {
    width: 100%;
    background-color: var(--main-white);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-bottom: 1px solid --main-black;
}

.kyc__hero {
    width: 100%;
    background-color: var(--theme-blue);
    color: var(--main-white);
    min-height: 200px;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.menu {
    width: 28%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.menu button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    padding: 14px 16px;
    align-content: center;
    line-height: 1rem;
}