.login-error {
  color: red !important;
  font-weight: 400;
  font-size: 14px;
  padding: 2px;
  border-radius: 10px;
}

.login-success {
  color: green !important;
  text-align: center;
  font-weight: 400;
  background-color: rgba(0, 128, 0, 0.26);
  padding: 4px 4px;
  border: 1px solid green;
  border-radius: 10px;
}