.header__brand {
    width: 10%;
}

.header__brand img{
    height: 50px;
}

.search__container {
    width: 30%;
}

.search__container input[type="text"]{
    width: 100%;
}

.header__menu {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.header__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1.4rem;
    font-weight: bold;
    background-color: var(--theme-blue);
    border-radius: 100%;
    color: #fbfef9;
}

.profile_icon img{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 20px;
    font-weight: bold;
    border-radius: 50%;
    border: 2px solid var(--theme-blue);
    position: inherit;
    top: 1.6%;
    right:1% ;
}