.settings-container {
    width: 90%;
}

.user-profile {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid #333;
    border-radius: 30px;
    min-height: 200px;
    align-items: center;
    justify-content: center;
    padding: 18px;
}

.user-profile img {
    height: 120px;
    width: 120px;
    border: 4px solid var(--theme-blue);
    border-radius: 50%;
}