.settings-container {
  width: 70%;
}

.user-profile-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid #333;
  border-radius: 30px;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding-bottom: 20px;
  min-height: 250px;
}

.profile-header {
  width: 100%;
  background-color: var(--theme-blue);
  height: 160px;
}

.user-profile .info {
  width: 40%;
  height: 60px;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 168px;
  top: 145px;
}

.user-profile .info .sub-text {
    font-size: 12px;
    font-weight: 450;
    color: #0053ee;
    margin: 0;
}

.user-profile .info .icon {
    position: absolute;
    top: 22px;
    left: 160px;
}

.user-profile img {
  position: absolute;
  height: 120px;
  width: 120px;
  border: 4px solid var(--border-color);
  border-radius: 50%;
  top: 115px;
  left: 40px;
}

.info__container {
    padding: 10px 10px;
    display: flex;
    gap: 10px;
}

.info__container .personalInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
    margin: 0 0 0 20px;
}

.info__container .personalInfo p {
    line-height: 0.5rem;
    font-weight: 400;
}

.info__container .personalInfo .icon {
    position: relative;
    top: 12%;
    margin-right: 6px;
}

.info__container .otherInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 10px;
    margin: 0 0 0 20px;
}

.info__container .otherInfo p {
    line-height: 0.5rem;
    font-weight: 400;
}

.info__container .otherInfo .icon {
    position: relative;
    top: 12%;
    margin-right: 6px;
}
.settings_container .settings__card {
    width: 40%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    gap: 10px;
}

.settings-container .settings__card .settings__icon {
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 10px 0;
}

.settings-container .settings__card button:hover{
    transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(5, 60, 94, 0.1);
}