:root {
  --main-black: #191923;
  --main-white: #ffffff;
  --secondary-white: #fbfef9;
  --theme-blue: #053c5e;
  --theme-blue-secondary: #bfdbf7;
  --border-color: #f1f1f1;
}

.card {
  border: 1px solid var(--border-color);
  border-radius: 10px;
  box-shadow: 0px 2px 6px -4px rgba(0, 0, 0, 0.52);
  -webkit-box-shadow: 0px 2px 6px -4px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: 0px 2px 6px -4px rgba(0, 0, 0, 0.52);
  margin: 20px 20px;
}

.card:hover {
  box-shadow: 0px 2px 10px -4px rgba(0, 0, 0, 0.62);
  -webkit-box-shadow: 0px 2px 10px -4px rgba(0, 0, 0, 0.62);
  -moz-box-shadow: 0px 2px 10px -4px rgba(0, 0, 0, 0.62);
}