.card {
  border: 0.8px solid var(--border-color);
  border-radius: 10px;
  /* box-shadow: 0px 2px 6px -4px rgba(0, 0, 0, 0.52);
  -webkit-box-shadow: 0px 2px 6px -4px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: 0px 2px 6px -4px rgba(0, 0, 0, 0.52); */
  margin: 20px 20px;
  overflow: hidden;
}

.card:hover {
  box-shadow: 0px 2px 8px -4px rgba(0, 0, 0, 0.42);
  -webkit-box-shadow: 0px 2px 8px -4px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: 0px 2px 8px -4px rgba(0, 0, 0, 0.42);
}