.card {
  border: 0.8px solid var(--border-color);
  border-radius: 10px;
  margin: 10px 0px;
  overflow: hidden;
}

.card:hover {
  box-shadow: 0px 2px 8px -4px rgba(0, 0, 0, 0.42);
  -webkit-box-shadow: 0px 2px 8px -4px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: 0px 2px 8px -4px rgba(0, 0, 0, 0.42);
}