@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  --main-black: #191923;
  --main-white: #ffffff;
  --secondary-white: #fbfef9;
  --theme-blue: #053c5e;
  --theme-blue-secondary: #bfdbf7;
}

* {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  padding: 0;
  margin: 0;
}